/* Firefox */
body {
    scrollbar-width: thin; 
    scrollbar-color: #9333ea #252027;  
}
/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 15px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #111827; /* Track color */
  /* border: dashed 2px #111827; */
}

::-webkit-scrollbar-thumb {
  background: white; /* Scrollbar color */
  border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
  /* background: white;  */
  background-color: #a855f7;
}